
<div class="custom-font boxy span5 offset3 text-center">
	
	<h1 class="cool-font-big"> My First WebApp </h1>
</br>

	<h2 class="cool-font-small"> Here, You'll see my pics, how I felt, and what I learned during the FireHoseNYC</h2>
</br>

	<h3 class="cool-font-tiny"> Coding is not that bad afterall!!!</h3>

</br>
<%= link_to 'Cmon in ...', pics_path, :class => 'btn btn-warning btn-large' %>

</div>
