<div class="text-center">

	<h1 class="cool-font-big text-center"> Welcome to 
		<a href="http://icahn.mssm.edu/research/programs/narc/">Parvaz's</a>
		FireHoseNYC App </h1>


	<h2 class="cool-font-tiny"> Here, You'll see my pics, how I felt, and what I learned during the FireHoseNYC</h2>

</br></br></br></br></br></br></br>
</br></br></br></br></br></br>
</br></br></br></br></br></br></br>

<%= link_to 'You can upload too...', new_pic_path, :class => 'btn btn-danger btn-large' %>
</br></br>
</div>
</div>
