
<div class="custom-font boxy span5 offset3 text-center">
	
	<h1 class="cool-font-big"> Hi I am Parvaz </h1>
	<h2 class="cool-font-small"> This is my first web app ... Super Super Excited!!!</h2>

</br>

<%= link_to 'Launch', pics_path, :class => 'btn btn-warning btn-large' %>

</div>
