
body {
	background: url('NYC_SkyLine_bkgrd.jpg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.custom-font {
	color: yellow;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}