// Place all the styles related to the staticpage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.boxy {
	margin-top: 400px;
	background-color: rgba(16,42,13,0.30);
	box-shadow: 5px -5px 5px 5px rgba(16,42,13,0.30);
	padding: 1%;
}