// Place all the styles related to the staticpage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.boxy {
	margin-top: 10px;
	background-color: rgba(24,24,24,0.10);
	box-shadow: 5px -5px 5px 5px rgba(24,24,24,0.10);
	padding: 1%;
}

.bigboxy {
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: rgba(50,0,0,0.08);
	box-shadow: 5px -5px 5px 5px rgba(50,0,0,0.08);
	padding: 2%;
}