<footer class="footer">
  <small>
    <a href="http://www.meetup.com/Learn-to-Code-NYC/events/140935392/">FireHoseNYC App</a>
    by Parvaz
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://railstutorial.org/">RoR Tutorial</a></li>
    </ul>
  </nav>
</footer>